{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block body %}






<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Edit Profile Page</h1>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-4 mx-auto my-5">
			<h3 class='text-center'>Edit Your Profile</h3>
			<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{% bootstrap_form user_form %}
					{% bootstrap_form profile_form %}
					{% buttons %}
					<div class='text-center'>
							<button type="submit" class="btn btn-primary py-2 px-5">Edit Profile</button>
					</div>
					{% endbuttons %}
			</form>
    </div>
</div>




{% endblock body %}



