{% extends "base.html" %}
{% load static %}
{% block body %}





<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Profile Page</h1>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-4 mx-auto my-5 text-center">
			<h3 class='mb-5'>Hey, {{profile.user.username}}</h3>
			<h5 class='my-4'><a href="{% url 'accounts:add_listing' %}" >Add Listing</a></h5>
			<h5 class='my-4'><a href="{% url 'accounts:listing' %}" >My Listing</a></h5>
			<h5 class='my-4'><a href="{% url 'accounts:reservations' %}" >My Reservations</a></h5>
			<h5 class='my-4'><a href="{% url 'accounts:profile_edit' %}" >Edit Profile</a></h5>
			<h5 class='my-4'><a href="{% url 'password_change' %}" >Change Password</a></h5>
			<h4 class='mt-5'><a href="{% url 'logout' %}">Logout</a></h4>
    </div>
</div>




{% endblock body %}

    
  
